:root {
    --bold-weight: 500;
    --font-weight: 350;
}

html, body {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-family: "Times New Roman", Times, serif;
    font-size: 13pt;
    line-height: 1.5;
    font-weight: var(--font-weight);
}

b {
    font-weight: var(--bold-weight);
}

h1, h2 {
    margin-top: 0;
    font-weight: var(--font-weight);
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.4rem;
}

ul {
    margin-top: 0;
}

li {
    margin: 1px 0;
}

.container {
    max-width: 950px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


#nav-bar {
    width: 100%;
    height: auto;
    padding: .70rem 0rem .70rem 0rem;
    border-bottom: 1px solid #EAEAEA;

    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, .95);  /* White with 95% opacity */
    z-index: 1000;
}

.main-nav-bar-container {
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-contents {
    margin-top: 1.5rem;
}

@media (max-width: 575px) {
    #horizontal-nav-links {
        display: none;
    }
    #hamburger-div {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
    }
    #profile-picture {
        width: 163px;
    }
}

@media (min-width: 576px) {
    #horizontal-nav-links {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }
    .bottom-nav-bar-container {
        display: none;
    }
    #hamburger-div {
        display: none;
    }
    #profile-picture {
        width: 30%;
    }
}

/* Formatting for links (al-folio theme) */
a {
    color: #b509ac;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-link {
    color: #15141A;
}

.nav-link:hover {
    color: #b509ac;
    text-decoration: none;
}

#highlighted-nav-link {
    color: #b509ac;
    font-weight: 450;
}

#nav-bar-name-text {
    color: inherit;
    text-decoration: none;

    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
}

.bar {
    width: 100%;
    height: 2.5px; /* 2px and 3px seem to cause various problems depending on the browser, but 2.5px seems good */
    background-color: #333;
    border-radius: 5px;
    transform: translateZ(0); /* Helps make the bars have consistent height across different browsers */
}

#vertical-nav-links {
    display: none;
}


#vertical-nav-links.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 0px 8px 0px;
    gap: 16px;
    animation: slideDown 0.3s ease-in-out forwards;
}


table {
  font-family: "Times New Roman", Times, serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
